<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smhrd.model.CertificationMapper">
    <select id="getCertifications" parameterType="String" resultType="com.smhrd.model.CertificationDTO">
        SELECT cert_type, cert_product FROM tb_certification WHERE fh_name = #{fh_name}
    </select>
</mapper>
