<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smhrd.mapper.FarmhouseMapper">
    <insert id="fh_join" parameterType="FarmhouseDTO">
  INSERT INTO tb_farmhouse (mb_id, fh_nick, fh_name, fh_owner, agri_name, fh_intro)
        VALUES (#{mb_id}, #{fh_nick}, #{fh_name}, #{fh_owner}, #{agri_name}, #{fh_intro})
    </insert>
    
    <select id="fh_Login" parameterType="FarmhouseDTO" resultType="FarmhouseDTO">
        select * from tb_member where mb_id=#{mb_id} and mb_pw=#{mb_pw}
    </select>
    
  <select id="getFarmhouse" parameterType="String" resultType="FarmhouseDTO">
    select * from tb_farmhouse where mb_id = #{mb_id}
</select>

    
    <select id="FarmhouseDTO" parameterType="String" resultType="FarmhouseDTO">
        select * from tb_farmhouse where fh_name=#{fh_name}
    </select>
    
    <select id="getAllFarmhouses" resultType="FarmhouseDTO">
        SELECT * FROM tb_farmhouse ORDER BY fh_name
    </select>
</mapper>
