<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smhrd.mapper.MemberMapper">
	<insert id="join" parameterType="MemberDTO">
		insert into tb_member
		values(#{mb_id},#{mb_pw},#{mb_name},#{mb_phone},#{mb_farmhouse_info},#{joined_at},#{mb_type})
	</insert>
	<select id="Login" parameterType="MemberDTO" resultType="MemberDTO">
		select * from tb_member where mb_id=#{mb_id} and mb_pw=#{mb_pw}
	</select>
<select id="idCheck" parameterType="String"  resultType="String">
		select mb_id from tb_member where mb_id=#{mb_id}
	</select>

<select id="getPhone" parameterType="String"  resultType="MemberDTO">
       SELECT mb_phone
        FROM tb_member
        WHERE mb_id = (
            SELECT mb_id
            FROM tb_farmhouse
            WHERE fh_name = #{fh_name} AND ROWNUM = 1
        )
    </select>

</mapper>